body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.page-wrapper{
    background-image: url(../assets/bg.png);
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.menu-wrapper{
    display: flex;
    width: 40%;
    padding: 80px;
}

#sign-up{
    color: #756f7b;
    background-color: white;
    border-style: solid;
    border-color: #756f7b;
    border-radius: 20px;
    width: 100px;
    height: 25px;
    font-size: 13px;
}

a{
    padding: 15px;
    text-decoration: none;
    font-size: 15px;
    color: #756f7b;
    font-family: 'Dosis', Georgia, Arial, sans-serif;
    font-weight: 500;
}

main{
    display: flex;
    flex-direction: column;
    padding-left: 80px;
}

.title{
    color: #3d7ffa;
    text-transform: uppercase;
    width: 40%;
    font-weight: 600;
    font-size: 40px;
    line-height: 10px;
    font-family: 'Fira Sans', Georgia, Arial, sans-serif;
    height: 100px;
    letter-spacing: 2px;
}

.title h2{
    font-weight: 300;
    font-size: 40px;
    letter-spacing: 7px;
    padding-bottom: 15px;
}

.title::after{
    content: "";
    width: 250px;
    height: 1px;
    background: #3d7ffa;
    display: inline-block;
}

#description{
    padding-top: 100px;
    width: 28%;
    color:#3a80f9;
    text-align: justify;
    font-family: 'Dosis', Georgia, Arial, sans-serif;
    font-weight: 500;
}

.get-started{
    padding-top: 60px;
}

.get-started button{
    color: white;
    background-image: linear-gradient(to right, #52d2ff , #4db5fe);
    width: 210px;
    height: 65px;
    border-radius: 10px;
    border: none;
    font-size: 22px;
    font-family: 'Dosis', Georgia, Arial, sans-serif;
}